FINNHUB_API_KEY=DEIN_KEY_HIER
FINNHUB_BASE_URL=https://finnhub.io/api/v1

FMP_API_KEY=DEIN_KEY_HIER
FMP_BASE_URL=https://financialmodelingprep.com/stable

ALPHAVANTAGE_API_KEY=DEIN_KEY_HIER
ALPHAVANTAGE_BASE_URL=https://www.alphavantage.co/query

MASSIVE_API_KEY=DEIN_KEY_HIER
MASSIVE_BASE_URL=https://api.massive.com/v3

DB_NAME=stockmaster.db
DB_VERSION=2
CACHE_DURATION_MS=2592000000
PORT=3000