# --- Secrets ---
FINNHUB_API_KEY=DEIN_KEY_HIER
FMP_API_KEY=DEIN_KEY_HIER
ALPHAVANTAGE_API_KEY=DEIN_KEY_HIER
MASSIVE_API_KEY=DEIN_KEY_HIER

# --- Environment ---
DB_NAME=stockmaster.db
DB_STORAGE_PATH=server/data/stockmaster.db
PORT=3000
